<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Profile</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

<style>
         h1 {color: #3700ff;}
         form {
            width: 50%;
            margin: 50px auto;
        }
        form input {
            margin-bottom: 20px;
            width: calc(100% - 20px);
        }
        #table-div {
            width: 60%;
            margin: 50px auto;
        }
    </style>


</head>
<body>
<h1>Welcome to Tailor Studio</h1>

<div class="container">
    <form action="/customer" method="post"  class="form-group">
        <div class="mb-3">
            Name <input class="form-control" type="text" name="name">
        </div>
        <div class="mb-3">
            Family <input class="form-control" type="text" name="family">
        </div>
        <div class="mb-3">
            Phone <input class="form-control" type="text" name="Phone">
        </div>
        <div class="mb-3">
            Email <input class="form-control" type="email" name="email">
        </div>
        <div class="mb-3">
            National_id <input class="form-control" type="text" name="national_id">
        </div>
        <div class="mb-3">
            Birth_date <input class="form-control" type="date" name="birth_date">
        </div>


        <button class="btn btn-success">Save <i class="fa fa-save"></i></button>
    </form>

</div>

<div id="table-div">
        <table  class="table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Family</th>
            <th>Phone</th>
            <th>Email</th>
            <th>National ID</th>
            <th>Birth Date</th>
            <th>Operation</th>
        </tr>
        </thead>

        <tbody>
        {% for customer in customer_list[1]: %}
        <tr>
            <td>{{ customer.id }}</td>
            <td>{{ customer.name }}</td>
            <td>{{ customer.family }}</td>
            <td>{{ customer.phone }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.national_id }}</td>
            <td>{{ customer.birth_date }}</td>
            <td>
                <button class="btn btn-warning" onclick="edit({{customer.id}})" >Edit <i class="fa fa-edit"></i></button>
                <button class="btn btn-danger" onclick="remove({{customer.id}})">Remove <i class="fa fa-remove"></i></button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
<script src="{{url_for('static', filename='js/font-awesome.js')}}"></script>
<script src="{{url_for('static', filename='js/customer.js')}}"></script>
</body>
</html>
